@import "tailwindcss";

.mask-gradient {
  -webkit-mask-image: linear-gradient(
    to top,
    transparent 0%,
    black 25%,
    black 100%
  );
  mask-image: linear-gradient(
    to top,
    transparent 0%,
    black 25%,
    black 100%
  );
}
